<?xml version="1.0" encoding="utf-8"?>
<manifest package="gmc.com.getmycab"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:vmSafeMode="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        >
        <activity
            android:name=".activity.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.LogingSignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".activity.SignInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"

            />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".activity.CabSearchResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".activity.BookingConfirmationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".activity.ContactUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".activity.SendLocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".activity.MyProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".activity.MyProfileEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"

            />
        <activity
            android:name=".activity.ChagePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".activity.BookingHistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".activity.CouponsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"

            />
        <activity
            android:name=".activity.TermAndConditionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity

            android:name=".ccavenue.activity.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity

            android:name=".ccavenue.activity.StatusActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity

            android:name=".activity.BookingDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!--<activity-->

            <!--android:name=".ccavenue.activity.InitialScreenActivity"-->
            <!--android:screenOrientation="portrait" >-->
        <!--</activity>-->


    </application>

</manifest>
